@using Microsoft.JSInterop
@using MRA.BlazorComponents.DynamicPages.Services
<div id="container"></div>
<script>
    function setHtml(htmlContent){
            document.getElementById('container').innerHTML=htmlContent;
        }
</script>

@code {
    [Parameter] public required string PageName { get; set; }

    [Inject] private IPagesService PagesService { get; set; } = null!;
    [Inject] public IJSRuntime JsRuntime { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var content = await PagesService.GetHtmlContentAsync(pageName: PageName);
        await JsRuntime.InvokeVoidAsync("setHtml", content);
    }

}